body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #232426;
}

    .window {
        width: 50%;
        height: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: #4d4c4c;
    }


/* ------------------------------------------ */
.container {
    position: relative;
    --size-button: 40px;
  }
  
  .input {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: solid 1px #4d4c4c;
    color: #fff;
    outline: none;
    width: 0px;
    transition: all ease 0.3s;
    background-color: #191A1E;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .input:focus,
  .input:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #a7dfc0;
  }
  
  .input:focus + .icon,
  .input:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
  }
  
  .container .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
  }
  
  .container .icon svg {
    width: 70%;
    height: 70%;
    color: #a7dfc0;
  }